.AuthButton {
  width: 100%;
  padding: 13px 0 !important;
  margin-top: 40px !important;
  border-radius: 20px !important;
  color: white !important;
  font-size: 18px !important;
  font-weight: 700 !important;
}