//Colors

$primary: #F9AA33;
$secondary: #4A6572;
$black: #000000;
$white: #ffffff;

//Fonts 
$regular: 'Segoe UI Regular';
$regularBold: 'Segoe UI Bold';
$italic: 'Segoe UI Italic';
$italicBold: 'Segoe UI Bold Italic';