@import "../../../../config/scss/variables.scss";

.grid {
    margin-top: 80px !important;
}

.backButton {
    padding: 10px !important;
    margin-bottom: 10px;
    color: $primary !important;
    font-family: $regularBold !important;
    border: 2px solid $primary !important;
    font-weight: 900 !important;
}

.backLink {
    text-decoration: none;
}