@import "../../../config/scss/variables.scss";

form {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .TextField {
        margin: 15px;
        width: 80%;
    }

    .smallButton {
        width: 100px;
        padding: 10px !important;
        margin-top: 50px;
        color: $primary !important;
        font-family: $regularBold !important;
        border: 2px solid $primary !important;
        font-weight: 900 !important;
        background: none;
    }
}